<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <form action="/form" method="post" >
    <label for="maths" >Enter Maths: <input id="maths" name="maths" type="number" value="0" /> </label>
    <label for="eng" >Enter Eng: <input id="eng" name="eng" type="number" value="0" /> </label>
    <label for="science" >Enter Science: <input id="science" name="science" type="number" value="0" /> </label>
    <label for="sst" >Enter SST: <input id="sst" name="sst" type="number" value="0" /> </label>
    <button type="submit">submit</button>
  </form>
</body>
</html>